.App {
  margin: 3% auto;
  font-family: Montserrat;
  font-size: 14px;
  color: #333333;
}

.App-header {
  font-family: Raleway;
  font-style: normal;
}

button {
  cursor: pointer;
}

.add-button {
  min-width: 109px;
  height: 56px;
  border: none;
  background: #2f80ed;
  box-shadow: 0px 2px 6px rgba(127, 177, 243, 0.4);
  border-radius: 12px;
  font: inherit;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  margin: 2% 0;
}

.footer-text{
  text-align:center;

}

.status {
  background-color: transparent;
  border: none;
  padding: 12px;
  font: inherit;
  font-weight: 600;
  min-width: 89px;
}

.status.selected {
  border-bottom: 4px solid #2f80ed;
}

.task-container {
  margin: 3% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.input-details {
  width: 80%;
  height: 56px;
  border: 1px solid #bdbdbd;
  font: inherit;
  box-sizing: border-box;
  border-radius: 12px;
  padding: 2%;
  margin: 2% 0;
}



.tasks-list {
  margin: 2% 0;
}

.task-item {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  color: #000000;
}

.material-icons.selected-checkbox {
  color: #2f80ed;
  cursor: pointer;
  border-radius: 4px;
  padding: 2% 0;
}

.material-icons.blank-checkbox {
  color: #828282;
  cursor: pointer;
  border-radius: 4px;
  padding: 2% 0;
}

.item {
  padding: 2% 1%;
  text-align: left;
}

.item.task-completed {
  text-decoration: line-through;
  color: #18056d;
}

.item.task-completed.active-selected {
  display: none;
}

.item.task-incomplete.completed-selected {
  display: none;
}

.delete {
  margin-left: auto;
  padding: 2% 2px;
  color: #bdbdbd;
  cursor: pointer;
}

.material-icon.delete-icon {
  align-self: center;
}

.all-button {
  padding: 1.5% 3%;
  background: #eb5757;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  display: flex;
  float: right;
}
.all-button-text {
  align-self: center;
  padding: 0 2px;
}

@media screen and (max-width: 630px) {

  .responsive{
    display: flex;
    flex-direction: column;
  }
  .task-container {
    justify-content: space-around;
  }
  .input-details {
    margin: 2%;
  }
  .task-item{
    margin-left: 30px;
  }
}